.job__card {
    width: 70%;
    background-color: white;
    margin: auto;
    padding: 15px;
    margin-bottom: 1rem;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    background-clip: initial;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    text-align: left;
    display: block;
    overflow: hidden;
}

.job__title {   
    display: flex;
    justify-content: space-between;
    font-size: medium;
    margin: 10px;
}

.job__information {
    font-size: medium;
    margin: 10px;
    line-height: 50%;
}

.job__button{
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #f44336;
    float: right;
}
